<div class="toolbar">
    <a href="/" class="hidden">
        <img src="img/estados.jpg" alt="">
        <%= data.menu.status %>
    </a>
    <a href="/" class="hidden">
        <img src="img/llamadas.jpg" alt="">
        <%= data.menu.calls %>
    </a>
    <a href="/" class="hidden">
        <img src="img/camara.jpg" alt="">
        <%= data.menu.camera %>
    </a>
    <a href="/" class="hidden">
        <img src="img/chats.jpg" alt="">
        <%= data.menu.chats %>
    </a>
    <a href="/" class="active-menu">
        <img src="img/configuracion-blue.jpg" alt="">
        <%= data.menu.settings %>
    </a>
</div>